# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
coverage/
.nyc_output/
node_modules/
package-lock.json
package-lock.json.gz
package-lock.json.gz.part
package-lock.json.gz.part.1
package-lock.json.gz.part.2
package-lock.json.gz.part.3
package-lock.json.gz.part.4
package-lock.json.gz.part.5

# Caches
.cache/
.parcel-cache/
.eslintcache

# Editors/OS
.DS_Store
.idea/
.vscode/
Thumbs.db

# Temporary files
tmp/
temp/


# Netlify
.netlify/
netlify/functions-serve/
netlify-*.log


